[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
address-parser = {git = "git+https://github.com/005-bot/address-parser"}
aiogram = "~=3.13"
aiohttp = "*"
aiosqlite = "*"
apis = {git = "git+https://github.com/005-bot/apis"}
click = "*"
pydantic = "*"
redis = "~=5.1"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.11"
