[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=3.13"
redis = "~=5.1"
apis = {git = "git+https://github.com/005-bot/apis"}

[dev-packages]

[requires]
python_version = "3.11"
